<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./tailwind_purged.css" rel="stylesheet">
    <title>
      rust-lang.cc Road to master rust-lang.
    </title>
  </head>
  <body style="background-color: #ddd">
  <div class="container mx-auto sm:w-screen md:max-w-2xl bg-gray-300 p-4 prose">
    <h1>rust-lang.cc</h1>
    <button class="btn btn-info">Welcome</button>
    <p>This is a small community that friendly to beginner of Rust. Senior rustacean may also find some useful resources here, you are welcome and will be admired to contrubite to the community. Let's start our road mastering Rust language here.</p>
    <div>

      <p>Firstly, a tour of rust:</p>
      <a href="https://tourofrust.com/" target="_blank">tour of rust</a> 
      <br />
      <a href="https://tourofrust.com/00_zh-cn.html" target="_blank">tour of rust CN version</a>
      <br />
      <br />
      <a href="https://docs.microsoft.com/en-us/learn/paths/rust-first-steps/" target="_blank">rust first steps</a> 
      <br />
      <a href="https://docs.microsoft.com/zh-cn/learn/paths/rust-first-steps/" target="_blank">rust first steps CN version</a>
      <br />
      <br />

      <p>Secondly, 3 good books by Official rust-lang.org:</p>
      <ol>
        <li>
          <a href="https://doc.rust-lang.org/book/" target="_blank">The Rust Programming Language (aka The Book)</a> 
          <br />
          <a href="http://120.78.128.153/rustbook/" target="_blank">The Book CN version</a>
          <br />
          <br />
        </li>
        <li>
          <a href="https://doc.rust-lang.org/stable/rust-by-example/" target="_blank">Rust by example</a> 
          <br />
          <a href="https://rustwiki.org/zh-CN/rust-by-example/" target="_blank">Rust by example CN version</a>
          <br />
          <br />
        </li>
        <li>
          <a href="https://github.com/rust-lang/rustlings/" target="_blank">Rustlings, small exercises on many basic subject of rust</a> 
          <br />
          <a href="https://blog.csdn.net/qq_28687433/article/details/113955315" target="_blank">Rustlings get started CN version</a>
          <br />
          <br />
          If it's your first time running rustlings, follow the link to <a href="https://repl.it/github/rust-lang/rustlings" target="_blank">start a rustlings workspace on repl.it</a>  
          <br />
          Note: you will need to install the rustlings command in the repl.it console as below. It will take several minutes and do not leave the installing page as it may interupt, hit the enter key sometimes to keep the page active. 
          <br />
          > cargo install --force --path .
          <br />
          > cp /home/runner/.cargo/bin/rustlings ./
          <br />
          <br />
          Now make sure you are in rustlings folder, otherwise > cd rustlings 
          <br />
          > pwd
          <br />
          after that, every time you want to start your practice on rustlings, go to your repl.it workspace, and run:
          <br />
          > ./rustlings watch
        </li>
      </ol>
      

      
      <br />
      <p>A story about learning rust at 40:</p>
      <a href="https://github.com/Dhghomon/programming_at_40/blob/master/README.md" target="_blank">learning rust at 40</a> 
      <br />
      <a href="https://www.gameres.com/884906.html" target="_blank">learning rust at 40 CN version</a>
      <br />
      The author wrote a book named "Easy rust", means learning rust in easy English.
      <br />
      <a href="https://dhghomon.github.io/easy_rust/" target="_blank">Easy rust</a> 
      <br />
      <a href="https://www.gameres.com/884906.html" target="_blank">Easy rust CN version</a>


      <br />
      <br />
      <p>You are almost there, where to go next?</p>
      <a href="https://www.rust-lang.org/learn" target="_blank">Official learn page</a> 
      <br />
      <a href="https://www.rust-lang.org/zh-CN/learn" target="_blank">Official learn page CN version</a>
      <br />

      <p>The Rust Reference</p>
      <a href="https://doc.rust-lang.org/reference/index.html" target="_blank">The Rust Reference</a> 
      <br />
      <a href="https://minstrel1977.gitee.io/rust-reference/" target="_blank">The Rust Reference CN version</a>
      <br />

      <p>The Rust Cookbook</p>
      <a href="https://rust-lang-nursery.github.io/rust-cookbook/" target="_blank">The Rust Cookbook</a> 
      <br />
      <a href="http://llever.com/rust-cookbook-zh/intro.zh.html" target="_blank">The Rust Cookbook CN version 1</a>
      <br />
      <a href="https://rust-cookbook.budshome.com/algorithms.html" target="_blank">The Rust Cookbook CN version 2</a>
      <br />
      <br />

      <p>Exercism</p>
      Go to <a href="https://exercism.io/" target="_blank">Exercism</a> for more exercises.
      <br />
      <br />

      <p>cheats.rs</p>
      <a href="https://cheats.rs/" target="_blank">cheats.rs</a> 
      <br />
      <a href="http://cheats.rs.kingfree.moe/" target="_blank">cheats.rs CN version</a> 
      <br />
      <br />
      <a href="https://caniuse.rs/" target="_blank">can i use .rs </a>
      <br />
      <br />
       
      

      <p>Who is using Rust and how they use it?</p>
      Follow me, see 
      <a href="./who_and_how.html" target="_blank">Who is using Rust and how they use it</a> 
      <br />

    </div>
</div>
</body>
</html>