<html>
  <head>
    <title>
      Who is using Rust and how they use it?
    </title>
  </head>
  <body style="background-color: #ddd">
    <h1>Who is using Rust and how they use it?</h1>
    <div>

      <p>Firstly, which companies are using Rust and how they use it?</p>
      <ul>
        <li>
            Mozilla
            <br />
            Mozilla was the first investor for Rust and continues to sponsor the work of the open source project. Mozilla also utilizes Rust in many of its core initiatives including Servo and key parts of Firefox.
            <br />
            <a href="https://research.mozilla.org/rust/" target="_blank">Read more about Rust in Mozilla</a>
            <br />
            <br />
        </li>
        <li>
            Dropbox
            <br />
            Rust is currently used by all Dropbox storage today, serving >500 million users, with greater datacenter efficiency.
            <br />
            <a href="https://www.wired.com/2016/03/epic-story-dropboxs-exodus-amazon-cloud-empire/" target="_blank">Read more about Rust in Dropbox</a>
            <br />
            <br />
        </li>
        <li>
            npm
            <br />
            Read how npm, who runs the JavaScript Registry of the same name, found Rust to be boring to deploy.
            <br />
            <a href="https://www.rust-lang.org/static/pdfs/Rust-npm-Whitepaper.pdf" target="_blank">Read the whitepaper</a>
            <br />
            <br />
        </li>
        <li>
            And more
            <br />
            Rust Foundation members: <a href="https://foundation.rust-lang.org/members/" target="_blank">Amazon, Google, Huawei, Microsoft, Mozilla;</a> 
            <a href="https://engineering.fb.com/2021/04/29/developer-tools/rust/" target="_blank">Facebook</a>
            <br />
            <br />
            Read more about <a href="https://www.rust-lang.org/production">production</a> and <a href="https://www.rust-lang.org/production/users" target="_blank">who uses Rust in production</a>
            <br />
            <br />
            <a href="https://www.zhihu.com/question/312852144">Which company is using Rust in China?</a>
            <br />
            <a href="https://www.techug.com/post/famous-companies-that-use-rust-in-production-and-their-reasons-for-choosing-rust.html" target="_blank">Famous companies that use rust in production CN version</a>
            <br />
            <a href="https://serokell.io/blog/rust-companies" target="_blank">Companies that use Rust in product EN version</a>
            <a href="https://serokell.io/blog/rust-in-production" target="_blank"> and more </a>
            <br />
            <br />
        </li>
      </ul>

      <p>Secondly, which individuals are using Rust and how they use it?</p>
      <ul>
        <li>
            Siciarz
            <br />
            He wrote 
            <a href="https://zsiciarz.github.io/24daysofrust/index.html" target="_blank">24 days of Rust</a> in 2016.  
            <a href="http://siciarz.net/">Siciarz's blog website</a>
            <br />
            <br />
        </li>
        <li>
            Amos
            <br />
            He wrote 
            <a href="https://fasterthanli.me/series/advent-of-code-2020" target="_blank">Advent of code 2020 to learn Rust in 14 days.</a> 
            <br />
            <br />
        </li>
        <li>
            Chris Krycho
            <br />
            He made 
            <a href="https://newrustacean.com/" target="_blank">New Rustacean</a>, a podcast about learning Rust - from scratch. 
            <br />
            <br />
        </li>
      </ul>

      <br />
      Stories(in Chinese language): 
      <br />
      <a href="https://zhuanlan.zhihu.com/p/47796236" target="_blank">How Rust reduced the cost</a>
      <br />
      <br />
      
      Books you can buy:
      <br />
      Rust 权威指南
      <br />
      Rust编程之道/张汉东著
      <br />
      深入浅出Rust=Dive into Rust/范长春著
      <br />
      精通Rust/(印)拉胡尔·沙玛(Rahul Sharma)，(芬)韦萨·凯拉维塔(Vesa Kaihlavirta)著;邓世超译
      <br />
      <br />
    

    <a href="./" target="_blank">back to rust-lang.cc</a>

    </div>
  </body>
</html>